<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [7]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\nsaue\anaconda3\lib\site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [8]:
%load_ext sql

# !pip install pysqlite3 -- failed
# Install & load sqlite3
!pip install sqlite3  
# !conda install sqlite

ModuleNotFoundError: No module named 'sql'

In [ ]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas==1.1.5

In [ ]:
%sql sqlite:///my_data1.db

In [10]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

C:\Users\nsaue\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
query = """
    SELECT *
    from SPACEXTBL"""
df2 = pd.read_sql_query(query, con)
df2.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt

In [73]:
query = """
    SELECT DISTINCT Launch_Site
    from SPACEXTBL"""
df2 = pd.read_sql_query(query, con)
df2.head(10)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40
4          None


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [17]:
query = """
    SELECT *
    from SPACEXTBL
    WHERE Launch_Site LIKE 'CCA%'
    """
df2 = pd.read_sql_query(query, con)
df2.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [43]:
query = """
    SELECT 
    Booster_Version,
    sum(PAYLOAD_MASS__KG_) total_payload_mass
    from SPACEXTBL
    WHERE UPPER(Customer) LIKE '%NASA%' 
    GROUP BY Booster_Version
    """
    
df2 = pd.read_sql_query(query, con)
df2.head()

  Booster_Version  total_payload_mass
0  F9 B4  B1039.2              2647.0
1  F9 B4  B1043.2              6460.0
2   F9 B4 B1039.1              3310.0
3   F9 B4 B1045.1               362.0
4   F9 B4 B1045.2              2697.0

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [44]:
query = """
    SELECT 
    Booster_Version,
    AVG(PAYLOAD_MASS__KG_) avg_payload_mass
    from SPACEXTBL
    WHERE Booster_Version LIKE '%F9 v1.1%' """
df2 = pd.read_sql_query(query, con)
df2.head()

  Booster_Version  avg_payload_mass
0  F9 v1.1  B1003       2534.666667

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [49]:
query = """
    SELECT min(Date) first_successful_launch_date
    from SPACEXTBL
    WHERE Mission_Outcome LIKE '%Success%'
    AND Landing_Outcome = 'Success (ground pad)'
    """
df2 = pd.read_sql_query(query, con)
df2.head()

  first_successful_launch_date
0                   01/08/2018

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [54]:
query = """
    SELECT DISTINCT Booster_Version
    from SPACEXTBL
    WHERE 
    Landing_Outcome = 'Success (drone ship)'
    AND Mission_Outcome LIKE '%Success%' 
    AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000 
    """
df2 = pd.read_sql_query(query, con)
df2.head()

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [25]:
query = """
    SELECT 
    Mission_Outcome,
    COUNT(*) CT_OUTCOME
    from SPACEXTBL 
    GROUP BY Mission_Outcome 
    """
df2 = pd.read_sql_query(query, con)
df2.head()

                    Mission_Outcome  CT_OUTCOME
0                              None         898
1               Failure (in flight)           1
2                           Success          98
3                          Success            1
4  Success (payload status unclear)           1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [27]:
query = """
    SELECT 
    DISTINCT Booster_Version
    from SPACEXTBL 
    WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM  SPACEXTBL )
    """
df2 = pd.read_sql_query(query, con)
df2.head()

  Booster_Version
0   F9 B5 B1048.4
1   F9 B5 B1049.4
2   F9 B5 B1051.3
3   F9 B5 B1056.4
4   F9 B5 B1048.5

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [61]:

query = """
    SELECT 
    ---TRUNC(DATE, 'MM') AS MONTH, 
    substr(Date,7,4) YEAR,
    substr(Date, 4, 2) MONTH,
    Mission_Outcome,
    Booster_Version, 
    Launch_Site,
    COUNT(*) CT_OUTCOME
    from SPACEXTBL 
    WHERE substr(Date,7,4) = '2015'
    GROUP BY 
    substr(Date,7,4),
    substr(Date, 4, 2), 
    Mission_Outcome,
    Booster_Version, 
    Launch_Site
    """
df2 = pd.read_sql_query(query, con)
df2.head()

   YEAR MONTH      Mission_Outcome Booster_Version  Launch_Site  CT_OUTCOME
0  2015    02              Success   F9 v1.1 B1014  CCAFS LC-40           1
1  2015    04              Success   F9 v1.1 B1015  CCAFS LC-40           1
2  2015    04              Success   F9 v1.1 B1016  CCAFS LC-40           1
3  2015    06  Failure (in flight)   F9 v1.1 B1018  CCAFS LC-40           1
4  2015    10              Success   F9 v1.1 B1012  CCAFS LC-40           1

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [72]:

query = """
    SELECT
    --substr(Date,7,4) || substr(Date, 4, 2) || substr(Date, 1, 2) ,
    Landing_Outcome,
    COUNT(*) CT_OUTCOME
    from SPACEXTBL 
    WHERE substr(Date,7,4) || substr(Date, 4, 2) || substr(Date, 1, 2)
        BETWEEN '20100406' and '20170320'
    GROUP BY  Landing_Outcome
    ORDER BY COUNT(*) DESC
    """
df2 = pd.read_sql_query(query, con)
df2.head()

        Landing_Outcome  CT_OUTCOME
0            No attempt          10
1  Success (ground pad)           5
2  Success (drone ship)           5
3  Failure (drone ship)           5
4    Controlled (ocean)           3

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>